/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


/* Common Css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}
html,body{
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #2f3640;
}

#tip_calclutor{
  width: 90%;
  max-width: 600px;
}

#logo_area, #form, #summary_area{
  padding: 25px 35px;
  border-radius: 14px;
  margin-bottom: 20px;
}

/* Logo Area */

#logo_area{
  background-color: #44bd32;
}
#logo_area h2{
  color: #2f3640;
  text-align: center;
}

/* Form Area */

#form{
  background: #353b48;
  color: #fff;
}
#form label{
  display: block;
  font-size: 20px;
  margin-bottom: 10px
}
#form input{
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 12px 15px;
  border: none;
  border-radius: 25px;
  width: 100%;
  color: #fff;
  background: #34495e;
}

/* People Area */

#people_area h3{
  font-size: 20px;
  margin-bottom: 15px;
}

#inner_people_area{
  display: flex;
  justify-content: space-between;
}

#people_area ul{
  display: flex;
  list-style: none;
}

#people_area ul li{
  font-size: 30px;
}

#minusSum{
  background: #20bf6b;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  padding-top: 5px;
}

#minusSum:hover{
  background: #26de81;
  transition: 0.4s all ease;
}

#plusSum{
  background: #eb3b5a;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  padding-top: 5px;
}

#plusSum:hover{
  background: #fc5c65;
  transition: 0.4s all ease;
}

#peopleSum{
  margin: 6px 13px 0;
}

#calcluteBtn{
  padding: 10px 35px;
  border: none;
  background: #a55eea;
  font-size: 20px;
  color: #fff;
  border-radius: 25px;
}

#calcluteBtn:hover{
  background: #8854d0;
  transition: 0.4s all ease;
}


/* Summary Area */

#summary_area{
  background: #222f3e;
  color: #fff;
  margin-bottom: 0;
}

#summary_area h3{
  font-size: 30px;
  margin-bottom: 20px;
  color: #26de81;
}

#summary_area div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 15px;
}

#summary_area hr{
  border: 2px dashed;
  margin-bottom: 10px;
}